body{
    margin: 0;
    padding: 0;
}

.intro{
    height: 1080px;
    width: 1920px;
}

.back{
    height: 100%;
    width: 100%;
    background: url("/img/фон.png");
    background-size: 100%;
    position: absolute;
}

.phone{
    width: 277px;
    height: 47px;
    margin-top: 62px;
    margin-left: 100px;
    float: left;
    display: flex;
}

.phone_num{
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    color: #fff;
    width: 213px;
    height: 31px;
    margin-top: 8px;
    margin-left: 17px;
    font-weight: 300;
}

.phone_hr{
    text-decoration: none;
    color: white;
    transition: color 0.3s linear;
}

.phone_hr:hover{
    color:#996213;
}

.logo{
    margin-left: 1100px;
    margin-top: 41px;
}

.links{
    height: 35px;
    width:565px;
    margin-left: 1700px;
    margin-top: -41px;
    position: relative;

}

.group{
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    color:#fff;
    padding-left: 30px;
    text-decoration: none;
    transition: color 0.3s linear;
}

.group:hover{
    color:#996213;

}

.text_button{
    height: 538px;
    width: 576px;
    margin-top: 275px;
    margin-left: 249px;
}

.text_1{
    font-family: "Cormorant";
    font-size: 80px;
    color:#fff;
}

.text_2{
    font-family: "Cormorant Bold";
    font-size: 100px;
    color: #996213;
}

.text_3{
    margin-top: 30px;
    font-family: "Roboto", serif;
    font-size: 24px;
    color: #fff;
    font-weight: 300;
}

.button{
    height: 88px;
    width: 397px;
    border-radius: 55px;
    border: #996213 solid 3px;
    background: none;
    margin-top: 50px;
    font-size: 24px;
    font-family: "Roboto", serif;
    color: #fff;
    font-weight: 300;
    transition: 0.3s;
}

.button:hover{
    color:#996213;
}

.social{
    width: 131px;
    height: 48px;
    margin-top: 200px;
    margin-left: 100px;
}

.soc_link{
    padding-left: 15px;
}
